---
import styles from "../styles/Navbar.module.css"

const navLink = [
  { name: "Hombres", href: "/Proyecto-Billeteras/hombres" },
  { name: "Mujeres", href: "/Proyecto-Billeteras/mujeres" },
  { name: "Ofertas", href: "/Proyecto-Billeteras/ofertas" },
];
---

<nav class={styles.Navbar_container}>
  <ul class={styles.Navbar_list}>
    {navLink.map((link) => (
      <li class={styles.Navbar_item}>
        <a href={link.href}>{link.name}</a>
      </li>
    ))}
  </ul>
</nav>
