---
import Layout from "../layouts/layout.astro";
import Header from "../components/Header.astro";
import Card  from "../shared/card.astro";
import styles from "../styles/otraspaginas.module.css";
import Footer from "../components/footer.astro";


const productosofertas = [
  {
    image: "@images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
   image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
   image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },
  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },
  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },
  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },
];

---
<Layout title="Ofertas">
    <Header />
    <h1 class={styles.ofertas_title}>Ofertas</h1>
    <section class={styles.ofertas_section}>
    <div class={styles.ofertas_cards}>    
    {productosofertas.map((p) => (
      <Card title={p.title} description={p.description} image={p.image} price={p.price} />
    ))}
    </div>
    </section>
    <Footer />
</Layout>