---
import Card  from "../shared/card.astro";
import styles from "../styles/curated.module.css";


const productosPrincipal = [
   {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
   image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },

  {
    image: "../assets/images/billetera.webp",
    title: "Vellum Card Holder",
    price: 60,
    description: "Diseño minimalista.",
  },
];

---

<section class={styles.curated_section}>
  <div class={styles.curated_header}>
  <h2 class={styles.curated_title}>Selección destacada</h2> 
  <a class={styles.link} href="/Proyecto-Billeteras/ofertas">ver más</a>
  </div>
  <div class={styles.curated_cards}>
    {productosPrincipal.slice(0, 4).map((p) => (
      <Card title={p.title} description={p.description} image={p.image} price={p.price} />
    ))}
  </div>
</section>
