---
import styles from "../styles/footer.module.css";
---

<footer class={styles.footer}>
  <div class={styles.footer_container}>
    <p class={styles.footer_title}>INFORMACIÓN</p>
    <button class={styles.footer_link} id="envios-btn">Envíos</button>
    <a href="/devoluciones" class={styles.footer_link}>Devoluciones</a>
    <a href="/contacto" class={styles.footer_link}>Contacto</a>
  </div>
</footer>
