---
import Navbar from "../shared/Navbar.astro"
import styles from "../styles/Header.module.css"
import { Image } from "astro:assets"; 
import logo from "@images/Logo-header.webp";
import carrito from "@images/compras.webp";


---

    <header class={styles.Header_container}>
    <nav class={styles.nav_main_container}>
        <a href="/Proyecto-Billeteras/" class="header-logo">
        <Image  
        src={logo}
        alt="logo"
        loading="eager"
        fetchpriority="high"
        decoding="async"
        class={styles.logo_image}
        >
        </a>

        <div>
        <Navbar />
        </div>

        <div>
            <a href="/Proyecto-Billeteras/carrito" class="carrito-link">
                <Image
                src={carrito}
                alt="carrito"
                loading="eager"
                fetchpriority="high"
                decoding="async"
                class={styles.carrito_image}
                >
            </a>
        </div>
    </nav>
</header>





