---
import Billeteras from '../assets/billetera.webp';
import style from '../styles/Hero.module.css';
---

<section class={style.hero}>
    <img
        src={Billeteras.src}
        alt="Logo Americana Academy"
        alt="Billeteras"
        class={style.heroImg}/>
    <div class={style.overlay}>
    <h2>Minimalist Wallet</h2>
    <button class={style.button}>Comprar ahora</button>
    </div>
</section>