---
import Billeteras from '@images/imagen-hero.webp';
import style from '../styles/Hero.module.css';
import Boton from '../shared/botons.astro';
import { Image } from 'astro:assets';
---

<section class={style.hero}>
    <Image
        src={Billeteras}
        alt="Billeteras"
        alt="Billeteras"
        class={style.heroImg} />
        
    <div class={style.overlay}>
    <h2>La esencia de la <em> elegancia</em></h2>
    <p class={style.heroText}>Descubre nuestra colección exclusiva de billeteras hechas a mano con materiales de alta calidad.</p>
    <Boton />
    </div>
</section>